body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3E454C;
  background-color: #FDFDFD;
  font-size: 18px;
}

.PosterSearch {
  text-align: center;
}

.PosterSearch .header {
  line-height: 0.5;
  margin-bottom: 4vh;
}

.PosterSearch .label {
  font-weight: bold;
}

.PosterSearch .searchButton {
  background-color: #2185C5;
  color: #FDFDFD;
  font-weight: bold;
  border: none;
  line-height: 1.4;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.PosterSearch .searchButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.PosterSearch .searchBox {
  margin: 0 0 0 3px;
  background-color: #FDFDFD;
  border: solid 1px #2185C5;
  border-right: 0;
  padding: 3px 6px;
  border-radius: 2px 0 0 2px;
  min-width: 300px;
}

.PosterGrid {
  margin: auto;
  max-width: 1600px;
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}